
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.lambesc.fr/fileadmin/user_upload/cinema.jpg);">
  <div class="container">
    <h1>My movie lists</h1>
    <p>Save your favorite movies</p>
  </div>
</div>
<br>
<br>
<div class="d-flex justify-content-around">
  <%@lists.each do |list|%>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://thumbs.dreamstime.com/z/%C3%A9l%C3%A9ments-de-genre-de-film-60387172.jpg)">
      <%=link_to list.name, list_path(list)%>
    </div>
  <%end%>
</div>
